#login h2{
    margin: 20px;
}
#login form{
    margin:0 auto !important;
    padding-top: 20px !important;
    width:350px;
    min-height:200px;
    border:1px solid #ccc;
    border-radius:3px;
    background-color:rgba(123, 98, 98, 0.3);
    .login-span{
        display:inline-block;
        width:70px;
        padding-right:10px;
        height:30px;
        line-height: 30px;
        vertical-align: middle;
        text-align: right;
    }
    .login-input{
        width:200px;
        padding: 2px 3px;
        border:1px solid #ddd;
        height:26px;
    }
    button{
        width:200px;
        border:1px solid #eee;
    }
}
.success{
    color:green;
}
.error{
    color:red;
}